.my-select {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
  }
  .my-select select {
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    color: #000000;
    background-color:rgb(236, 236, 236);
    border: 2px solid #d0d1d3;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    appearance: none;
  }
  .my-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    pointer-events: none;
  }